.ticket_inputs{
    display: flex;
    flex-direction: column;
    gap:90px;
    align-items: center;
}

.ticket_title{
    display:flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    gap:90px;
    margin-top: 20px;
    font-size: 30px;

}

